<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1>Burgers to Eat!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <table>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block}}
                    {{/unless}}
                {{/each}}
            </table>
        </div>

        <div class="col-md-6">
            <table>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/devoured-block}}
                    {{/if}}
                {{/each}}
            </table>
        </div>

    </div>
</div>
