<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h1>Burgers to Eat!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li>
                            <p> 
                                {{this.id}}. {{this.burger_name}}

                                <button data-burgerid="{{this.id}}" class="delBurger">Devour this burger!</button>
                            </p>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

    </div>
</div>