body {
    background: url("../images/burger_background.jpg");
    background-repeat: no-repeat;
    
}

.jumbotron {
    text-align: center;
}

.burgerImg {
    background: url("../images/burger.png");
    background-repeat: no-repeat;
    border: none;
    height: 30px;
    width: 30px;
}

.crumbsImg {
    background: url("../image/silverware.png");
    background-repeat: no-repeat;
    border: none;
    height: 30px;
    width: 30px;
}