<tr class="table-row">
    <td><img class="img-thumbnail burgerImg"></td>
    <td>{{id}}. {{burger_name}}</td>

    <td><button data-burgerid="{{id}}" class="delBurger">Devour this burger!</button></td>
</tr>